.logo {
    display: flex;
    background-color: rgb(241, 240, 240);
    font-weight: 900;
    margin-bottom: 15px;
    align-items: center;
    border-radius: 15px;
    padding: 15px;
}

.logo img {
    width: 50px;
    margin-right: 15px;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    border-radius: 15px;
}

.footer p {
    background-color: rgb(241, 240, 240);
    font-weight: 900;
    width: 80px;
    padding: 12px;
    border-radius: 15px;
}

