.messageItem {
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 232, 233);
    padding: 14px;
    font-size: 12px;
    border-radius: 15px;
    margin-bottom: 12px;
    width: 40%;
    box-sizing: border-box;
}

.right {
    margin: 0px 60%;
}

.avatar {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 15px;
}

.avatar img{
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-bottom: 4px;
}

.name {
    color: rgb(22, 22, 22);
    font-weight: bold;
}

.content {
    display: flex;
    align-items: center;
    color: #3F2DA5;
    font-weight: 600;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(151, 151, 151);
    font-size: 10px;
}

.footer span {
    font-weight: 600;
    color: #3F2DA5;
}

.likes {
    cursor: pointer;
}
