.headerBlock {
    display: flex;
    justify-content: space-between;
    background-color:#EDF3FF;
    color: #0F70EB;
    padding: 25px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.leftBlock {
    display: flex;
    justify-content: space-around;
}

.item {
    margin-right: 25px;
    cursor: pointer;
}