.messageInputBlock {
    padding: 25px;
    background-color: #EDF3FF;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}

.text {
    width: 500px;
    font-size: 13px;
    padding: 15px 0 15px 12px;
    border: 1px solid hsl(0, 2%, 90%);
    background: #F6F6f6;
    border-radius: 8px;
    box-sizing: border-box;
}

.text:focus {
    outline: none;
    border: 1px solid #0F70EB;
}

.btn {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 40px;
    font-size: 16px;
    cursor: pointer;
}

.btn:focus {
    outline: none;
    background: rgb(104, 130, 182);
    color: rgb(58, 58, 58);
}